@import "./base.css";

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Pretendard Variable", "Pretendard", -apple-system, Roboto,
    Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    opacity: 0.8;
  }
}
